<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Job role:</strong>
  <%= @user.job_role %>
</p>

<p>
<strong>Recent Activity:</strong>
</p>

<p>
<strong>Location:</strong>
</p>

<p>
<strong>Remotely In:</strong>
</p>

<p>
<strong>Reviews</strong>
</p>

<p>
<strong>Blogs</strong>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
