<%= form_with(model: cafe, data: {controller: "places", action: "google-maps-callback@window->places#initMap"}) do |form| %>
  <% if cafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cafe.errors.count, "error") %> prohibited this cafe from being saved:</h2>

      <ul>
        <% cafe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.search_field :address, data: {target: "places.field" } %>
  </div>

  <div class="field">

    <%= form.hidden_field :longitude, data: {target: "places.longitude"} %>
  </div>

  <div class="field">
 
    <%= form.hidden_field :latitude, data: {target: "places.latitude"} %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <div data-target="places.map" style="height:400px ">
  </div>
<% end %>
