
<%= stylesheet_link_tag "cafes.css" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cafe.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cafe.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @cafe.address %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @cafe.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @cafe.latitude %>
</p>

<p>
  <strong>Hours of Operation:</strong>
  <%= @cafe.latitude %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @cafe.rating %>
</p>

<div >
  <strong>Cover:</strong>
  <%= image_tag(@cafe.cover, class:"img-rounded", alt:"Cover Photo", width:"375", height:"450") %>
</div>

<%= render 'reviews/review' %>

<% if logged_in? %>
  <%= render 'reviews/form' %>
  <% if @cafe && @cafe.user_id == current_user.id %>
    <%= link_to 'Edit', edit_cafe_path(@cafe) %> |  <%= link_to 'Delete', cafe_path(@cafe), method: :delete, class: "btn btn-outline-danger" %>
  <% else %>
  <% end %>
<% end %>

<div id="map">
</div>

<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    function initMap() {
    let cafe = {lat: <%= @cafe.latitude %>, lng: <%= @cafe.longitude %>};
    let map = new google.maps.Map(
      document.getElementById('map'), {zoom: 18, center: cafe}
      );
    let marker = new google.maps.Marker({position: cafe, map: map})
    }
  </script>
<% end %>

