<!DOCTYPE html>
<html>
<head>
  <title>RemoteCafeApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8c78JJHECR433I1RrpX1HO_rsFKtp56Q&libraries=places&callback=initMap" async defer data-turbolinks-eval="false">
  </script>

</head>

  <body>
    <div class="d-flex flex-column">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"crossorigin="anonymous"></script>
    <%= render 'layouts/navigation'  %>
      <div id='page-content'>

     <%= yield %>


      </div>
    </div>
  </body>
</html>
